<!-- main div on the center of page -->
<div class="flex justify-center">
  <div class="w-3/4 flex flex-col justify-center">
  
    <!-- Menu superior -->
    <div class="flex justify-center mb-16">
      <div class="flex font-raleway justify-between
                text-third-color  text-sm font-semibold
                w-1/2 p-4">
        <a href="" class="hover:text-fourth-color"> sobre </a>
        <a href="" class="hover:text-fourth-color"> serviços </a>
        <a href="" class="hover:text-fourth-color"> operação </a>
        <a href="" class="hover:text-fourth-color"> solicite um orçamento </a>
        <a href="" class="hover:text-fourth-color"> contato </a>
      </div>
    </div>

    <!--main image on the front-->  
    <div class="flex justify-center mb-16">
      <img  class="w-2/6" src="../assets/main_logo.png" alt="logo" border="0">
    </div>


    <!--subtitulos e animações-->  
    <div class="flex justify-center mb-16">
      <div class="flex flex-col w-3/5 font-exo font-semibold text-third-color">
        <div class="text-center text-lg">
          <span *ngFor="let text of ['análise de dados, ','previsões, ','modelos, ','algoritmos.']; let i =index" [class.text-first-color]="labelColorIndex == i+1">
            {{text}}
          </span>
        </div>
        <div class="text-center text-xl mb-2 " [class.text-first-color]="labelColorIndex == 5">
          tecnologia de ponta para sua empresa voar sobre a concorrência.
        </div>
        <div class="text-center flex justify-between px-20">
          <img class="w-1/5 opacity-30 rounded" [class.opacity-80]="labelColorIndex == 1 || labelColorIndex == 5" src="../assets/profit curve.png">
          <img class="w-1/5 opacity-30 rounded" [class.opacity-80]="labelColorIndex == 2 || labelColorIndex == 5" src="../assets/inventory.png">
          <img class="w-1/5 opacity-30 rounded" [class.opacity-80]="labelColorIndex == 3 || labelColorIndex == 5" src="../assets/manufacturing line.png">
          <img class="w-1/5 opacity-30 rounded" [class.opacity-80]="labelColorIndex == 4 || labelColorIndex == 5" src="../assets/attending customer.png">
        </div>
      </div>
    </div>


    <!--SOBRE-->  
    <!--div roxo-->
    <div class="flex flex-col justify-center mb-8
                bg-first-color p-10">
      <div>
        <topic-marker [topico]="'sobre'"></topic-marker>
      </div>
      <div class="p-10 text-fifth-color text-justify font-raleway
                  text-base font-semibold">
        <p class="mb-4">Com a Dedalus, sua empresa incorpora as últimas
          tendências no campo da análise de dados e inteligência
          artificial para obter insights valiosos e previsões precisas,
          o que leva a decisões mais inteligentes, otimização da
          produtividade e resultados extraordinários.
        </p>
        <p>
          Analisamos seu negócio e aplicamos tecnologias que utilizam
          redes neurais artificiais inspiradas no cérebro humano para
          processar e analisar grandes volumes de dados com precisão e
          rapidez. Imagine um cérebro artificial capaz de aprender
          padrões complexos e fazer previsões sobre os seus clientes,
          seus produtos, seu modelo de negócio. Isso é literalmente
          trazer sua empresa para o futuro!
        </p>
      </div>
    </div>

  
    <!--div estatísticas-->
    <div class="flex flex-col justify-center mb-16
                bg-third-color p-10 mx-8">
      <!--div texto-->
      <div class="font-raleway text-justify text-sm mb-4">De acordo com um estudo de Harvard*,
        <span class="font-bold">empresas que utilizam análise de dados 
          e algoritmos de aprendizado de máquina em suas decisões superam,
          em no mínimo 70%, as suas concorrente que não utilizam 
        </span>em vários fatores, como:</div>
      <!--div quadros-->
      <div class="flex justify-between">
        <span class="bg-second-color rounded text-center
          text-third-color font-extrabold text-lg mr-2 p-2">
          NOVOS SERVIÇOS/PRODUTOS
        </span>
        <span class="bg-second-color rounded text-center
          text-third-color font-extrabold text-lg mr-2 p-2">
          LEALDADE E RETENÇÃO DE CLIENTES
        </span>
        <span class="bg-second-color rounded text-center
          text-third-color font-extrabold text-lg mr-2 p-2">
          SATISFAÇÃO DA EQUIPE DE TRABALHO
        </span>
        <span class="bg-second-color rounded text-center
          text-third-color font-extrabold text-lg mr-2 p-2">
          EFICIÊNCIA OPERACIONAL
        </span>
        <span class="bg-second-color rounded text-center
          text-third-color font-extrabold text-lg p-2">
          LUCRATIVIDADE
        </span>
      </div>
      <!--div fonte-->
      <div></div>
    </div>

  </div>
</div>
