<!-- main div on the center of page -->
<div class="flex justify-center">
  <div class="w-3/4 flex flex-col justify-center">
  
    <!-- Menu superior -->
    <div class="flex justify-center mb-16">
      <div class="flex font-raleway justify-between
                text-third-color  text-sm font-semibold
                w-1/2 p-4">
        <a href="" class="hover:text-fourth-color"> sobre </a>
        <a href="" class="hover:text-fourth-color"> serviços </a>
        <a href="" class="hover:text-fourth-color"> operação </a>
        <a href="" class="hover:text-fourth-color"> solicite um orçamento </a>
        <a href="" class="hover:text-fourth-color"> contato </a>
      </div>
    </div>

    <!--main image on the front-->  
    <div class="flex justify-center mb-16">
      <img  class="w-2/6" src="../assets/main_logo.png" alt="logo" border="0">
    </div>


    <!--subtitulos e animações-->  
    <div class="flex justify-center mb-16">
      <div class="flex flex-col w-3/5 font-exo font-semibold text-third-color">
        <div class="text-center text-lg">
          <span *ngFor="let text of ['análise de dados, ','previsões, ','modelos, ','algoritmos.']; let i =index" [class.text-first-color]="labelColorIndex == i+1">
            {{text}}
          </span>
        </div>
        <div class="text-center text-xl mb-2 " [class.text-first-color]="labelColorIndex == 5">
          tecnologia de ponta para sua empresa voar sobre a concorrência.
        </div>
        <div class="text-center flex justify-between px-20">
          <img class="w-1/5 opacity-30 rounded" [class.opacity-80]="labelColorIndex == 1 || labelColorIndex == 5" src="../assets/profit curve.png">
          <img class="w-1/5 opacity-30 rounded" [class.opacity-80]="labelColorIndex == 2 || labelColorIndex == 5" src="../assets/inventory.png">
          <img class="w-1/5 opacity-30 rounded" [class.opacity-80]="labelColorIndex == 3 || labelColorIndex == 5" src="../assets/manufacturing line.png">
          <img class="w-1/5 opacity-30 rounded" [class.opacity-80]="labelColorIndex == 4 || labelColorIndex == 5" src="../assets/attending customer.png">
        </div>
      </div>
    </div>


    <!--SOBRE-->  
    <!--div roxo-->
    <div class="flex flex-col justify-center mb-8
                bg-first-color p-10">
      <div>
        <topic-marker [topico]="'sobre'" [textcolor]="'text-fifth-color'"></topic-marker>
      </div>
      <div class="p-10 text-justify font-raleway
                  text-base font-semibold">
        <p class="mb-4">Com a Dedalus, sua empresa incorpora as últimas
          tendências no campo da análise de dados e inteligência
          artificial para obter insights valiosos e previsões precisas,
          o que leva a decisões mais inteligentes, otimização da
          produtividade e resultados extraordinários.
        </p>
        <p>
          Analisamos seu negócio e aplicamos tecnologias que utilizam
          redes neurais artificiais inspiradas no cérebro humano para
          processar e analisar grandes volumes de dados com precisão e
          rapidez. Imagine um cérebro artificial capaz de aprender
          padrões complexos e fazer previsões sobre os seus clientes,
          seus produtos, seu modelo de negócio. Isso é literalmente
          trazer sua empresa para o futuro!
        </p>
      </div>
    </div>

  
    <!--div estatísticas-->
    <div class="flex flex-col justify-center mb-16
                bg-third-color p-10 mx-8">
      <!--div texto-->
      <div class="font-raleway text-justify text-sm mb-4">De acordo com um estudo de Harvard*,
        <span class="font-bold">empresas que utilizam análise de dados 
          e algoritmos de aprendizado de máquina em suas decisões superam,
          em no mínimo 70%, as suas concorrente que não utilizam 
        </span>em vários fatores, como:</div>
      <!--div quadros-->
      <div class="flex justify-between mb-4">
        <div class="flex items-center bg-second-color rounded
          text-center text-third-color font-extrabold text-lg
          mr-2 p-2">
          NOVOS SERVIÇOS/PRODUTOS
        </div>
        <div class="flex items-center bg-second-color rounded
          text-center text-third-color font-extrabold text-lg
          mr-2 p-2">
          LEALDADE E RETENÇÃO DE CLIENTES
        </div>
        <div class="flex items-center bg-second-color rounded
          text-center text-third-color font-extrabold text-lg
          mr-2 p-2">
          SATISFAÇÃO DA EQUIPE DE TRABALHO
        </div>
        <div class="flex items-center bg-second-color rounded
          text-center text-third-color font-extrabold text-lg
          mr-2 p-2">
          EFICIÊNCIA OPERACIONAL
        </div>
        <div class="flex items-center bg-second-color rounded
          text-center text-third-color font-extrabold text-lg p-2">
          LUCRATIVIDADE
        </div>
      </div>
      <!--div fonte-->
      <div class="text-right text-xs">*Harvard Business Review Analytics Services Survey, Novembro de 2022</div>
    </div>


    <!--NOSSOS SERVIÇOS-->  
    <div class="flex flex-col justify-center mb-16">
      <topic-marker class="mb-8" [topico]="'nossos serviços'" [textcolor]="'text-third-color'"></topic-marker>
      <div class="flex justify-center mb-8">
        <img class="w-4/5" src="../assets/nossos servicos.png">
      </div>

      <!--caixa da rua com os estabelecimentos-->
      <div class="bg-first-color p-10 font-raleway">
        <p class="text-center font-bold text-sm mb-8">Isso são apenas alguns exemplos do que podemos oferecer...
           aqui estão algumas aplicações de nossos serviços aos mais variados
           tipos de empresas:
        </p>


        <!--interação da rua com os estabelecimentos-->
        <div>
          <div class="flex justify-between items-end">
              <div class="relative group">
                <h3 class=" text-opacity-0 group-hover:brightness-50 group-hover:text-opacity-100 transition duration-300 text-center font-raleway font-semibold text-xs text-fifth-color">
                  Lava-jato
                </h3>
                <img (click)="imageClick('lavajato')" class="w-auto h-14 group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100" src="../assets/carwash_prod.png">
              </div>
              <div class="relative group">
                <h3 class="text-opacity-0 group-hover: brightness-50 group-hover:text-opacity-100 transition duration-300 text-center font-raleway font-semibold text-xs text-fifth-color">
                  Escritório jurídico
                </h3>
                <img (click)="imageClick('escritorio')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/advocacia_prod.png">
              </div>
              <div class="relative group">
                <h3 class="text-opacity-0 group-hover: brightness-50 group-hover:text-opacity-100 transition duration-300 text-center font-raleway font-semibold text-xs text-fifth-color">
                  Joalheria
                </h3>
                <img (click)="imageClick('joalheria')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/joalheria_prod.png">
              </div>
              <div class="relative group">
                <h3 class="text-opacity-0 group-hover: brightness-50 group-hover:text-opacity-100 transition duration-300 text-center font-raleway font-semibold text-xs text-fifth-color">
                  Restaurante
                </h3>
                <img (click)="imageClick('restaurante')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-24" src="../assets/restaurante_prod.png">
              </div>
              <div class="relative group">
                <h3 class="text-opacity-0 group-hover: brightness-50 group-hover:text-opacity-100 transition duration-300 text-center font-raleway font-semibold text-xs text-fifth-color">
                  Sorveteria
                </h3>
                <img (click)="imageClick('sorveteria')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/icecream_producao.png">
              </div>
              <div class="relative group">
                <h3 class="text-opacity-0 group-hover: brightness-50 group-hover:text-opacity-100 transition duration-300 text-center font-raleway font-semibold text-xs text-fifth-color">
                  Mercado
                </h3>
                <img (click)="imageClick('mercado')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/mercado_prod.png">
              </div>
              <div class="relative group">
                <h3 class="text-opacity-0 group-hover: brightness-50 group-hover:text-opacity-100 transition duration-300 text-center font-raleway font-semibold text-xs text-fifth-color">
                  Academia
                </h3>
                <img (click)="imageClick('academia')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/academia_producao.png">
              </div>
              <div class="relative group">
                <h3 class="text-opacity-0 group-hover: brightness-50 group-hover:text-opacity-100 transition duration-300 text-center font-raleway font-semibold text-xs text-fifth-color">
                  Boutique
                </h3>
                <img (click)="imageClick('boutique')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-24" src="../assets/boutique_prod.png">
              </div>
              <div class="relative group">
                <h3 class="text-opacity-0 group-hover: brightness-50 group-hover:text-opacity-100 transition duration-300 text-center font-raleway font-semibold text-xs text-fifth-color">
                  Clínica
                </h3>
                <img (click)="imageClick('clinica')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/clinica_prod.png">
              </div>
            </div>
          <div>
            <img src="../assets/rua.png">
          </div>
        </div>

        <!--Caixa de texto com a descrição dos serviços-->
        <div>
          <app-servicos-estabelecimento [estabelecimento]="estabelecimento"></app-servicos-estabelecimento>
        </div>
      </div>
    </div>


    <!--NOSSA OPERAÇÃO-->  
    <div class="flex flex-col justify-center mb-16">
      <topic-marker class="mb-8" [topico]="'nossa operação'" [textcolor]="'text-third-color'"></topic-marker>
     
      <div class="px-14 font-raleway text-base text-justify">

        <div class="bg-third-color p-4 bg-opacity-75 mb-2">
          <span class="font-semibold">1. Reuniões preliminares e 
            análise do negócio: 
          </span>
          entender seus objetivos, desafios e expectativas, além 
          do seu modelo de negócio. Essa troca de informações será 
          crucial para traçarmos um plano personalizado para a 
          implementação de soluções sob medida.
        </div>

        <div class="bg-third-color p-4 bg-opacity-75 mb-2">
          <span class="font-semibold">2. Coletamos seus dados: 
          </span>
          Com responsabilidade, reunimos seus dados relevantes, sejam eles de vendas, clientes, operações ou
          qualquer outra área estratégica para o seu negócio. 
        </div>

        <div class="bg-third-color p-4 bg-opacity-75 mb-2">
          <span class="font-semibold">3. Treinamos modelos de previsão:  
          </span>
          Utilizamos técnicas avançadas de Deep Learning para treinar modelos personalizados que aprenderão com os 
          dados coletados, identificando padrões e relações complexas.
        </div>

        <div class="bg-third-color p-4 bg-opacity-75 mb-4 ">
          <span class="font-semibold">4. Geramos insights: 
          </span>
          Com base nos modelos treinados, extraimos insights valiosos sobre o futuro do seu negócio, permitindo que 
          você tome decisões mais assertivas e estratégicas.
        </div>


        <div class="bg-third-color p-10 px-20 bg-opacity-85 font-bold text-center text-2xl">
          Não importa o tamanho ou setor de sua empresa, a DEDALUS está aqui para ajudar!
        </div>

      </div>

    </div>

  </div>
</div>
