<!-- main div on the center of page -->
<div class="flex justify-center">
  <div class="w-3/4 flex justify-center">
  
    <!-- Menu superior -->
    <div class="flex font-raleway justify-between center
              text-white items-center text-sm font-semibold
              w-1/2 p-4">
      <a href="" class="hover:text-fourth-color"> sobre </a>
      <a href="" class="hover:text-fourth-color"> serviços </a>
      <a href="" class="hover:text-fourth-color"> operação </a>
      <a href="" class="hover:text-fourth-color"> solicite um orçamento </a>
      <a href="" class="hover:text-fourth-color"> contato </a>
    </div>

  </div>
</div>
