<div class="p-10 text-justify text-white" *ngIf="estabelecimento=='lavajato'">
    <h2 class="font-bold mb-4">Lava-jato</h2>

    <p class="mb-2"><span class="font-semibold">Otimização de agendamento: </span>
    Com análise de dados sobre padrões de agendamento, tempos de 
    serviço, tempo que os clientes estão dispostos a esperar, etc... 
    podemos otimizar o agendamento de clientes para maximizar a 
    eficiência do lava-jato e reduzir o tempo de espera.</p>
    <p><span class="font-semibold">Análise de fidelização de clientes: </span>
        Identifique os clientes mais frequentes e ofereça programas 
        de fidelidade personalizados para aumentar a retenção.</p>
</div>

<div class="p-10 text-justify text-white"
        *ngIf="estabelecimento=='escritorio'">
    <h2 class="font-bold mb-4">Escritório Jurídico</h2>

    <p class="mb-2"><span class="font-semibold">
        Análise de Jurisprudência: </span>
    Utilize processamento de linguagem natural para analisar 
    um grande volume de documentos jurídicos e identificar 
    precedentes relevantes para cada caso, otimizando o trabalho 
    dos advogados.</p>
    <p class="mb-2"><span class="font-semibold">
        Previsão de resultados de casos: </span>
        Utilize modelos preditivos para estimar a probabilidade 
        de sucesso em diferentes tipos de casos, auxiliando 
        na tomada de decisões estratégicas.</p>
    <p><span class="font-semibold">
            Gestão de documentos: </span>
            Com automação de processos e análise de texto, 
            podemos ajudar o escritório a gerenciar grandes 
            volumes de documentos legais de forma mais 
            eficiente e precisa.</p>
</div>

<div class="p-10 text-justify text-white"
        *ngIf="estabelecimento=='joalheria'">
    <h2 class="font-bold mb-4">Joalheria</h2>

    <p class="mb-2"><span class="font-semibold">
        Análise de comportamento do cliente: </span>
    Utilize reconhecimento facial e análise de comportamento 
    para identificar os clientes mais propensos a comprar e
    oferecer atendimento personalizado.</p>
    <p class="mb-2"><span class="font-semibold">
        Detecção de falsificações: </span>
    Utilize visão computacional para autenticar jóias 
    e evitar a venda de produtos falsificados.</p>
    <p class="mb-2"><span class="font-semibold">
        Recomendação de jóias: </span>
    Sugira jóias personalizadas para cada cliente com base 
    em seu estilo, histórico de compras e ocasião.</p>
    <p><span class="font-semibold">
        Análise de mercado: </span>
        Analisando dados de mercado e tendências de compra, podemos 
        identificar os segmentos de mercado mais lucrativos e o mix 
        de produtos da joalheria para atender às demandas do cliente.</p>
</div>

<div class="p-10 text-justify text-white"
        *ngIf="estabelecimento=='restaurante'">
    <h2 class="font-bold mb-4">Restaurante</h2>

    <p class="mb-2"><span class="font-semibold">
        Previsão de demanda: </span>
    Utilize Deep Learning para prever a demanda por pratos em 
    diferentes horários do dia, dias da semana e eventos especiais, 
    otimizando o estoque de ingredientes e evitando perdas.</p>
    <p class="mb-2"><span class="font-semibold">
        Estoque inteligente: </span>
    Ajuste os pedidos automaticamente com base na demanda prevista e 
    no histórico de vendas, evitando rupturas de estoque e otimizando 
    o custo dos alimentos.</p>
    <p class="mb-2"><span class="font-semibold">
        Segmentação de clientes: </span>
    Crie perfis de clientes com base em seus hábitos de consumo, 
    preferências e dados demográficos, permitindo a personalização 
    de ofertas, promoções e menus.</p>
    <p class="mb-2"><span class="font-semibold">
        Identificação de clientes VIP: </span>
    Identifique os clientes mais lucrativos e ofereça programas 
    de fidelidade personalizados para aumentar a retenção e a fidelização.</p>
    <p class="mb-2"><span class="font-semibold">
        Análise de sentimentos: </span>
    Utilize Deep Learning para analisar avaliações online e feedback 
    dos clientes para identificar áreas de melhoria e aprimorar a experiência do cliente.</p>
    <p class="mb-2"><span class="font-semibold">
        Preço dinâmico: </span>
    Utilize algoritmos de precificação dinâmica para ajustar os preços 
    dos pratos de acordo com o horário do dia ou dia da semana, maximizando a lucratividade 
    e otimizando a ocupação das mesas.</p>
    <p class="mb-2"><span class="font-semibold">
        Marketing personalizado: </span>
    Envie ofertas e promoções personalizadas para cada cliente via e-mail, 
    SMS ou notificações no aplicativo, aumentando a conversão e a fidelização.</p>
    <p><span class="font-semibold">
        Sistema de recomendação de pratos: </span>
        Analise o histórico de pedidos dos clientes e recomende pratos 
        que eles provavelmente apreciarão, aumentando a satisfação e a fidelização.</p>
</div>

<div class="p-10 text-justify text-white"
        *ngIf="estabelecimento=='sorveteria'">
    <h2 class="font-bold mb-4">Sorveteria</h2>

    <p class="mb-2"><span class="font-semibold">
        Análise de sazonalidade: </span>
    Preveja a demanda por produtos em diferentes épocas do ano ou do 
    mês, otimizando a produção e evitando desperdícios.</p>
    <p><span class="font-semibold">
        Análise de feedback dos clientes: </span>
        Analisando as avaliações e comentários dos clientes, a sorveteria pode identificar 
        áreas de melhoria em seus produtos e implementar melhorias para 
        aumentar a satisfação do cliente.</p>
</div>

<div class="p-10 text-justify text-white"
        *ngIf="estabelecimento=='mercado'">
    <h2 class="font-bold mb-4">Mercado</h2>

    <p class="mb-2"><span class="font-semibold">
        Previsões de vendas e preço dinâmico: </span>
    Utilizando dados históricos de vendas e fatores externos, 
    podemos prever a demanda por diferentes produtos, otimizar o 
    estoque e estabelecer um modelo de preço dinâmico visando a 
    maximização do lucro.</p>
    <p><span class="font-semibold">
        Análise de cesto de compras: </span>
        Identifique padrões de compra e segmente seus clientes 
        para personalizar ofertas e promoções.</p>
</div>

<div class="p-10 text-justify text-white"
        *ngIf="estabelecimento=='academia'">
    <h2 class="font-bold mb-4">Academia</h2>

    <p class="mb-2"><span class="font-semibold">
        Previsão de demanda por aulas e atividades: </span>
    Utilize Deep Learning para prever a demanda por aulas e atividades 
    em diferentes horários do dia, períodos do ano e eventos especiais, 
    otimizando a alocação de instrutores e recursos, evitando superlotação e filas de espera. </p>
    <p class="mb-2"><span class="font-semibold">
        Segmentação de alunos: </span>
    Crie perfis de alunos com base em seus interesses, nível de habilidade, 
    histórico de frequência e dados demográficos. Identifique os alunos com maior 
    probabilidade de se tornarem membros de longo prazo ou adquirir 
    serviços premium, oferencendo programas de fidelidade e benefícios 
    personalizados para aumentar a retenção e a lucratividade.</p>
    <p class="mb-2"><span class="font-semibold">
        Análise de feedback dos alunos: </span>
    Utilize Deep Learning para analisar posts em redes sociais e outras formas de 
    feedback, para identificar áreas de melhoria nos serviços, instrutores e 
    instalações, aprimorando a experiência do clientes e a reputação 
    da academia.</p>
    <p class="mb-2"><span class="font-semibold">
        Otimização de preços de planos de assinatura: </span>
    Utilize algoritmos de precificação dinâmica par ajustar os preços 
    de planos de assinatura de acordo com o perfil do aluno, tipo 
    de plano, duração do contrato e outros fatores, maximizando a 
    receita e a retenção de clientes.</p>
    <p><span class="font-semibold">
        Detecção de risco de lesões: </span>
    Utilize modelos de Deep Learning para analisar vídeos de treinos dos alunos e 
    identificar movimentos ou posturas inadequadas que podem levar a 
    riscos de lesões, permitindo intervenções preventivas e personalização de 
    planos de treinamento.</p>
    
</div>

<div class="p-10 text-justify  text-white"
        *ngIf="estabelecimento=='boutique'">
    <h2 class="font-bold mb-4">Boutique</h2>

    <p class="mb-2"><span class="font-semibold">
        Análise de tendências de moda: </span>
    Utilize Deep Learning para analisar as últimas tendências 
    de moda, ajudando na compra de produtos relevantes e 
    na criação de coleções atraentes.</p>
    <p class="mb-2"><span class="font-semibold">
        Segmentação de clientes por estilo: </span>
    Crie perfis de clientes com base em seus históricos de 
    compras e preferências, permitindo que você possa personalizar 
    ofertas e campanhas de marketing.</p>
    <p><span class="font-semibold">
        Recomendação de looks: </span>
        Utilize algoritmos para sugerir looks completos para 
        os clientes, aumentando a conversão de vendas.</p>
</div>

<div class="p-10 text-justify text-white"
        *ngIf="estabelecimento=='clinica'">
    <h2 class="font-bold mb-4">Clínica Médica</h2>

    <p class="mb-2"><span class="font-semibold">
        Análise de imagens médicas: </span>
    Utilize visão computacional para analisar imagens de raio-X, 
    tomografias e outros exames médicos com maior precisão e rapidez, 
    auxiliando no diagnóstico de doenças.</p>
    <p class="mb-2"><span class="font-semibold">
        Personalização de planos de tratamento: </span>
    Utilize modelos preditivos para personalizar planos de tratamento 
    para cada pacientes, com base em seu histórico médico e outros 
    fatores relevantes.</p>
    <p><span class="font-semibold">
        Identificação de pacientes de alto risco: </span>
        Identifique pacientes com maior risco de desenvolver complicações, 
        permitindo a intervenção preditiva e o melhoramento do prognóstico.</p>
</div>