
<!--sm: 640px md: 768 lg: 1024px-->
<!--fazer o default como se fosse a menor tela, e usar essas
directivas para fazer o estilo de telas maiores-->

<!-- main div on the center of page -->
<div class="flex justify-center">
  <div class="w-full flex flex-col justify-center font-sans">

    <!--DIV SEÇÃO INICIAL-->
    <div class="secao-inicial p-6 bg-cover bg-no-repeat bg-center">
      
        <!--Barra de navegação superior-->
        <div class="flex flex-wrap flex-col md:flex-row  text-sm font-semibold">
            <!--Logo-->
            <div class="flex w-full md:w-1/4 justify-center mb-4 md:mb-0">
              <img class="w-32 " src="../assets/main_logo.png">
            </div>
            <!--Menu-->
            <div class="flex flex-wrap w-full md:w-2/4 text-sm md:text-base text-white justify-around mb-4 md:mb-0">
              <a class="flex items-center hover:text-first-color cursor-pointer text-center" href="#sobre">Sobre</a>
              <a class="flex items-center hover:text-first-color cursor-pointer text-center" href="#nossa-operacao">Nossa operação</a>
              <a class="flex items-center hover:text-first-color cursor-pointer text-center" href="#nossos-servicos">Nossos serviços</a>
              <a class="flex items-center hover:text-first-color cursor-pointer text-center" href="#missao-valores">Nossa missão</a>
              <a class="flex items-center hover:text-first-color cursor-pointer text-center" href="#duvidas">Dúvidas frequentes</a>
            </div>
            <!--Botão Contato-->
            <div class="flex w-full md:w-1/4 justify-center items-center py-2 md:py-6 px-4 md:px-28">
              <button (click)="scrollToElement('contato')" class="w-full bg-white hover:bg-first-color text-fifth-color
                            rounded">Contato</button>
            </div>
        </div>

        <!--Títulos-->
        <div class="mt-8 md:mt-32 w-full md:w-1/2 px-4 md:pl-24 text-white font-semibold">
          <h1 class="text-2xl md:text-5xl">Tecnologia de ponta <span class="text-first-color">para sua empresa decolar</span></h1>
          <p class="mt-4 pr-0 md:pr-48 text-justify text-sm">Utilize as tendências mais modernas da análise de dados e da inteligência artificial para fazer previsões e 
            insights sobre seu negócio, trazendo mais eficiência, qualidade e rentabilidade. 
          </p>
        </div>

        <!--instagram logo-->
        <div class="mt-8 md:mt-24 px-4 md:pl-24 w-full md:w-1/2 h-10 text-white">
          <a><img class="w-6 transition duration-300 ease-in-out hover:opacity-50 cursor-pointer" src="../assets/instagram-icon.svg"
          alt="instagram logo"></a>
        </div>

    </div>


    <!--soluções para negócios-->
    <div id="sobre" class="mt-16 mb-8 flex flex-col items-center">
      <h1 class="text-center w-3/4 md:w-1/4 text-second-color font-bold text-2xl">Soluções personalizadas para sua empresa</h1>
      <p class=" text-center mt-4 text-sm w-full md:w-2/4 font-semibold">Análise e modelagem de dados para o caso específico do seu negócio. </p>
    </div>


    <!--sobre-->

    
      <div id="sobre" class="flex justify-center items-center bg-gray-100 p-4">
        <div class="w-full max-w-3xl border-8 border-second-color rounded-lg">
          <video controls class="w-full shadow-lg">
            <source src="https://res.cloudinary.com/dvwuovzoe/video/upload/v1720712508/video-promo-dedalus_sfwvpp.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    


    <!--nossa operação-->

    <div class="w-full flex flex-col md:flex-row px-4 md:px-32 rounded-ee-full">
      <div id="nossa-operacao" class="w-full md:w-1/2 flex flex-col py-8 md:py-24 px-4 md:px-16">
        <div class="w-2/4 md:w-4/12 bg-third-color border-x-4 border-second-color text-center text-sm font-semibold mb-4">
          NOSSA OPERAÇÃO
        </div>
        <div class="font-bold text-second-color text-xl mb-4">
          Adaptabilidade e excelência
        </div>
        <div class="text-justify text-sm font-semibold">
          <p class="mb-2">
            <span class="font-bold">1. Reuniões preliminares e análise do negócio: </span>
            Onde entendemos seus objetivos, desafios e expectativas, além do seu modelo de negócio. Essa troca de 
            informações será crucial para traçarmos um plano personalizado para a implementaçãp de soluções sob medida.
          </p>
          <p class="mb-2">
            <span class="font-bold">2. Análise dos dados e engenharia de requisitos: </span>
            Coletamos, selecionamos e processamos os dados relevantes, sejam eles de vendas, clientes, operações ou 
            qualquer área estratégica para o seu negócio. 
          </p>
          <p class="mb-2">
            <span class="font-bold">3. Definição e treinamento do modelo de previsão: </span>
            Utilizamos técnicas de IA e Deep Learning para treinar modelos que aprenderão com seus dados, fazendo previsões e 
            utilizando essas mesmas previsões para melhorar sua eficiência, identificando padrões complexos.
          </p>
          <p>
            <span class="font-bold">4. Geramos insights: </span>
            Com base nos modelos treinados, extraímos insights valiosos e previsões precisas sobre o 
            seu negócio, permitindo que você tome decisões mais assertivas e estratégicas.
          </p>

        </div>
        <div>

        </div>
      </div>
      <div class="w-full md:w-1/2 flex items-center justify-center md:justify-start py-8 md:py-0">
        <div class="w-full max-w-3xl border-8 border-second-color rounded-lg">
          <video controls class="w-full shadow-lg">
            <source src="https://res.cloudinary.com/dvwuovzoe/video/upload/v1720736696/invideo_nossa_operacao_bzwygo.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      
    </div>


    <img class="w-full" src="../assets/divisao-pagina.png">

    
    <div class="w-full bg-third-color">
      <!--Nossos serviços-->
      <div id="nossos-servicos" class=" mb-8 flex flex-col items-center ">
        <h1 class="text-center w-3/4 md:w-1/4 text-second-color font-bold text-2xl">Nossos serviços</h1>
        <p class=" text-center text-sm w-full md:w-2/4 font-semibold"> Oferecemos serviços de análise de dados e inteligência artificial para empresas. As possibilidades não se limitam a esta lista. </p>
      </div>
      
      <!--imagem nossos serviços-->
      <div class="w-full flex justify-center mb-8">
        <img class="w-full md:w-8/12" src="../assets/nossos servicos.png">
      </div>
    </div>  

    <!--estabelecimentos-->
    <div class="secao-estabelecimentos p-6 bg-cover bg-no-repeat bg-center">
      <div class="p-10">
        <p class="text-center text-white font-bold text-base mb-8">Isso são apenas alguns exemplos do que podemos oferecer...
           aqui estão algumas aplicações de nossos serviços aos mais variados
           tipos de empresas:
        </p>


        <div>
          <div class="flex flex-wrap justify-between items-end">
              <div class="relative group w-1/2 sm:w-auto">
                <h3 class=" text-white  text-opacity-0 group-hover:brightness-100 group-hover:text-opacity-100 transition duration-300 text-center font-semibold text-xs">
                  Lava-jato
                </h3>
                <img (click)="imageClick('lavajato')" class="w-auto h-14 group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100" src="../assets/carwash_prod.png">
              </div>
              <div class="relative group w-1/2 sm:w-auto">
                <h3 class=" text-white text-opacity-0 group-hover:brightness-100 group-hover:text-opacity-100 transition duration-300 text-center font-semibold text-xs">
                  Escritório jurídico
                </h3>
                <img (click)="imageClick('escritorio')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/advocacia_prod.png">
              </div>
              <div class="relative group w-1/2 sm:w-auto">
                <h3 class=" text-white text-opacity-0 group-hover:brightness-100 group-hover:text-opacity-100 transition duration-300 text-center font-semibold text-xs">
                  Joalheria
                </h3>
                <img (click)="imageClick('joalheria')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/joalheria_prod.png">
              </div>
              <div class="relative group w-1/2 sm:w-auto">
                <h3 class=" text-white text-opacity-0 group-hover:brightness-100 group-hover:text-opacity-100 transition duration-300 text-center font-semibold text-xs">
                  Restaurante
                </h3>
                <img (click)="imageClick('restaurante')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-24" src="../assets/restaurante_prod.png">
              </div>
              <div class="relative group w-1/2 sm:w-auto">
                <h3 class=" text-white text-opacity-0 group-hover:brightness-100 group-hover:text-opacity-100 transition duration-300 text-center font-semibold text-xs">
                  Sorveteria
                </h3>
                <img (click)="imageClick('sorveteria')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/icecream_producao.png">
              </div>
              <div class="relative group w-1/2 sm:w-auto">
                <h3 class=" text-white text-opacity-0 group-hover:brightness-100 group-hover:text-opacity-100 transition duration-300 text-center font-semibold text-xs">
                  Mercado
                </h3>
                <img (click)="imageClick('mercado')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/mercado_prod.png">
              </div>
              <div class="relative group w-1/2 sm:w-auto">
                <h3 class=" text-white text-opacity-0 group-hover:brightness-100 group-hover:text-opacity-100 transition duration-300 text-center font-semibold text-xs">
                  Academia
                </h3>
                <img (click)="imageClick('academia')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/academia_producao.png">
              </div>
              <div class="relative group w-1/2 sm:w-auto">
                <h3 class=" text-white text-opacity-0 group-hover:brightness-100 group-hover:text-opacity-100 transition duration-300 text-center font-semibold text-xs">
                  Boutique
                </h3>
                <img (click)="imageClick('boutique')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-24" src="../assets/boutique_prod.png">
              </div>
              <div class="relative group w-1/2 sm:w-auto">
                <h3 class=" text-white text-opacity-0 group-hover:brightness-100 group-hover:text-opacity-100 transition duration-300 text-center font-semibold text-xs">
                  Clínica
                </h3>
                <img (click)="imageClick('clinica')" class="group-hover:brightness-50 transition duration-300 group-hover:text-opacity-100 w-auto h-16" src="../assets/clinica_prod.png">
              </div>
            </div>
          <div>
            <img src="../assets/rua.png">
          </div>
        </div>

        <div>
          <app-servicos-estabelecimento [estabelecimento]="estabelecimento"></app-servicos-estabelecimento>
        </div>
      </div>
    </div>


     <!--nossos valores-->

    <div class="w-full bg-third-color items-center">
      
      <div id="missao-valores" class=" my-8 flex flex-col items-center ">
        <h1 class="text-center w-3/4 md:w-1/4 text-second-color font-bold text-2xl">Nossa missão e valores</h1>
        <p class=" text-center text-sm w-full md:w-2/4 font-semibold"> Evolução computacional ao alcance de nossos clientes.</p>
      </div>

      <!--imagem nossa missão-->
      <div class="w-full flex justify-center mb-8">
        <img class="w-full md:w-3/4" src="../assets/missao.png">
      </div>


    </div>

    <img class="w-full" src="../assets/divisao-pagina-2.png">


    <!--DÚVIDAS FREQUENTES-->
    <div id="duvidas" class="w-full flex flex-col md:flex-row text-third-color bg-fifth-color px-4 md:px-32 pb-16">

      <!--Conteúdo-->
      <div class="w-full md:w-8/12">
        <h1 class="font-bold">Dúvidas Frequentes</h1>
        
        <!--colocar a faq aqui - accordion -->
        <div *ngFor="let item of faqList" class="border-b">
          <div (click)="toggleAccordion(item)" class="cursor-pointer flex justify-between items-center py-4">
            <h3 class="text-sm font-medium">{{item.question}}</h3>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor"
                  class="w-5 h-5" [class.transform]="item.open ? 'rotate-180' : ''" >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>
          <div *ngIf="item.open" class="transition-all duration-300 ease-in-out">
            <p class="p-4 text-sm text-justify">{{item.answer}}</p>
          </div>
        </div>

      </div>
      <!--Imagem-->
      <div class="w-full md:w-4/12 flex justify-center items-center mt-8 md:mt-0">
          <img class="h-96 w-auto" src="../assets/pergunta.png">
      </div>
    </div>


    <!--contato-->
    <div id="contato" class="w-full flex flex-col py-16 bg-second-color items-center">
      <img class="w-2/12 mb-8" src="../assets/main_logo.png">
      <p class="text-white text-center px-4 md:px-0">
        Tem um projeto em mente ou deseja saber como podemos te ajudar?
      </p>
      <p class="text-white mb-16 text-center px-4 md:px-0">Entre em contato!</p>

      <div class="text-white flex flex-col w-full md:w-3/12">
        <div class="flex flex-col md:flex-row mr-4 text-sm mb-4 md:mb-0">
          <p class="w-full text-third-color">
            Email
          </p>
          <p class="w-full text-left font-semibold">dedalusbi&#64;gmail.com</p>
        </div>
        <div class="flex flex-col md:flex-row text-sm">
          <p class="w-full text-third-color">
            Direct do instagram
          </p>
          <p class="w-full text-left font-semibold">&#64;dedalusbi</p>
        </div>
      </div>
      
    </div>

    

  </div>
</div>